h4 {
  display: inline-block;
}
.nowrap {
  white-space: nowrap;
}
.btn {
  border: none;
  font-size: 20px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #e0e0e0;
  margin-top: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: 5px;
}

.buttonNormal:hover {
  background-color: #aeaeae;
}
.buttonOutline {
  border: 2px solid rgb(0, 102, 255);
  color: rgb(0, 102, 255);
  background-color: white;
}
.buttonOutline:hover {
  background-color: #eaefff;
}

.buttonText {
  color: rgb(0, 102, 255);
  background-color: white;
}
.buttonText:hover {
  background-color: #eaefff;
}
.buttonDisableShadow {
  color: white;
  background-color: #3d5afe;
  box-shadow: none;
}

.buttonDisabled {
  opacity: 0.6;
  background-color: gray;
}

.buttonTextDisabled {
  background-color: white;
  opacity: 0.6;
}

.buttonStartIcon {
  color: white;
  background-color: rgb(0, 102, 255);
  width: 200px;
}
.buttonEndIcon {
  color: white;
  background-color: rgb(0, 102, 255);
  width: 200px;
}

.buttonSizeSm {
  color: white;
  background-color: rgb(0, 102, 255);
  box-shadow: none;
  height: 45px;
  width: 100px;
}
.buttonSizeMd {
  color: white;
  background-color: rgb(0, 102, 255);
  box-shadow: none;
  height: 55px;
  width: 110px;
  /* margin-left: 75px; */
}
.buttonSizeLg {
  color: white;
  background-color: rgb(0, 102, 255);
  box-shadow: none;
  height: 60px;
  width: 130px;
}

.buttonColorDefault {
  color: black;
  background-color: #e0e0e0;
  box-shadow: none;
}
.buttonColorDefault:hover {
  background-color: #aeaeae;
}
.buttonColorPrimary {
  color: white;
  background-color: #2962ff;
  box-shadow: none;
}
.buttonColorPrimary:hover {
  background-color: #0039cb;
}
.buttonColorSecondary {
  color: white;
  box-shadow: none;
  background-color: #455a64;
}
.buttonColorSecondary:hover {
  background-color: #1c313a;
}
.buttonColorDanger {
  color: white;
  box-shadow: none;
  background-color: #d32f2f;
}
.buttonColorDanger:hover {
  background-color: #9a0007;
}
